export(processCapability)
export(processControl)
export(measurementSystemAnalysis)
export(doeCreateScreening)
export(doeAnalyseScreening)
export(doeCreateFactorial)
export(doeAnalyseFactorial)
export(doeCreateResponseSurface)
export(doeAnalyseResponseSurface)
